:root {
  --cor-fundo: #ffffff;
  --cor-texto: #000000;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  transition: 0.3s ease-in-out;
}

.tema-escuro {
  --cor-fundo: #121212;
  --cor-texto: #ffffff;
}

p {
    font-size: 1rem;
}